.header {
  height: 30px;
  border-bottom: 2px;
  background-color: rgb(190, 105, 168);
  box-shadow: 0px 3px 5px 0px rgba(180, 154, 154, 0.75);
  padding: 30px;
  margin-bottom: 20px;
  
}
.link {
  margin-top: 10px;
  color: rgb(90, 69, 69);
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    color: rgb(70, 41, 236);
  }
}

.active {
  color: rgb(255, 248, 248);
}
